@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================

@import "_foundation/reset";
@import "_foundation/fonts";
@import "_foundation/variables";
@import "_foundation/mixins";
@import "_foundation/base";


// ==========================================================================
// Layout
// ==========================================================================

@import "_layout/base";


// ==========================================================================
// Object
// ==========================================================================

// ------------------------------------------
// Component
// ------------------------------------------

@import "_object/component/base";


// ------------------------------------------
// Project
// ------------------------------------------

@import "_object/project/base";

.p-mainCanvas {
  @include absoluteTopLeft;
  width: 100%;
  height: 100%;
  background-color: #000;
}


// ------------------------------------------
// Utility
// ------------------------------------------

@import "_object/utility/base";
