@charset "utf-8";

// reset box-sizing to border-box
html {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
input[type="text"], input[type="password"], button, textarea, select {
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
}
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
